html{
    box-sizing: border-box;
}

*,*::before,*::after{
   box-sizing:inherit;
}
*{
    padding: 0;
    border: 0;
    margin: 0;
}
input {
  overflow: visible;
  
}

figure,figcaption{
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img{ /*чтобы всегда по размеру контейнера было и автоматически сжималось по высоте */
  max-width: 100%;
  height: auto;
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  .wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
  }

.wrapper__full{
  max-width: 1262px;
  margin:  0 auto;
  padding: 0 15px;
}

.section-title{
  font-weight: 500;
  font-size: 35px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after{
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color:#006DFE;
  position: absolute;
  bottom: 0;
  left:0;

}

body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
  .header{
    position: fixed;/*при фиксации указать координаты к чему прилипить,он теперь не занимает пространства и первый слайд будет тянуться с самого края экрана не замечая хедр*/
    top:0;
    left:0;
    width: 100%;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
  }
  .header_active{
    background-color: #0E1D28;
  }

  .header__wrapper{
    display: flex; /*блочный вид*/
    flex-wrap: wrap;/*перенос контента, если не хватает места*/
    align-items: flex-end;/*вниз блока контент*/
    justify-content: space-between;/*по краям контейнера разнести*/
    padding-top: 56px;
  }

  .header__list{
    display: flex;
    flex-wrap: wrap;

  }

  .header__item{
    margin-right: 82px;
    list-style-type: none;
  }
  .header__item:last-child{
    margin-right: 0;
  }

  .header__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__link:hover,  .header__link:focus,  .header__link:active{
    opacity: .75;
  }

.header__burger{
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line{
  display: block; /*так как span по умолчанию блочный элемент*/
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.burger__line_first{
  top: 0;
}

.burger__line_third{
  bottom: 0;
}

.burger__line_second{
  top: 50%;
  transform: translateY(-50%);
}

  /*focus это при наведении табом*/

/*main styles start*/
  .intro{
    min-height: 100vh;
    background: url('../img/intro-min.png') no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
  }

  .intro__title{
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
  }

  .intro__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 546px;
    margin-bottom: 59px;
  }

.search-form__info{
  display: flex;
  flex-wrap: wrap;
}

.search-form__field{
  /*background-color: transparent; прозрачный цвет фона*/
  width: 297px;
  height: 49px;
  background: transparent url('../img/svg/Oval.svg') no-repeat left 1px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.search-form__field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.search-form__submit{
  width: 171px;
  height: 58px;
  text-transform: uppercase;
  background: #1B7DFF;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
}

.search-form__submit:hover, .search-form__submit:focus, search-form__submit:active{
  background: #0e66da;
}

/*main styles end*/

 
/*benefits start*/
.benefits{
  margin-bottom: 131px;
}
.benefits__wrap{
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title{
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  color: #102746;
  padding: 93px 100px 88px 100px;
  position:absolute;
  top:0;
  left: 0;
  transform: translateY(-100%);
  background-color: #FFFFFF;

}

.benefits__cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 55px;
  padding: 0 100px;
  
}

.benefits__card{
  grid-column: span 1; /*карточка занимает одну колонку*/
  margin-bottom: 112px;
}

.betefits__card-pic{
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-thumb{
  display: block;
}

.benefits__card-title{
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin-bottom: 26px;
}

.benefits__card-desc{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 39px;
}

.benefits__card-more{
  display: inline-block;
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow.svg) no-repeat 95% center;
  transition:  .2s all; /*для плавности сдвигания стрелки*/
}

.benefits__card-more:hover, .benefits__card-more:focus{
  background: url(../img/svg/arrow.svg) no-repeat right center;
}

/*benefits end*/

/*places start*/
.places{
  margin-bottom: 131px;
}

.places__caption{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.places__title{
margin-right: 15px;
}

.places__view-all{
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow.svg) no-repeat right center;
}
.places__view-all:hover, .places__view-all:focus{
  opacity: .65;
}

.places_cards{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  column-gap: 10px;

}


.places_card{
  position: relative;
  overflow: hidden;
} 

/*наложили overlay на картинки */
.places_card::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top:0;
  left: 0;
  z-index: 2; /*порядок наложения */
}
.places_card:hover .places_card-pic{
  transform: scale(1.05);
}

.places_card-title{
  font-weight: 700;
  font-size: 50px;
  color: #FFFFFF;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places_cards_size_lg{
  grid-column: span 3;
}

.places_card-pic_lg{
  height: 354px;
  object-fit: cover; /*виксированная высота и сужение по бокам при скроле*/
}
.places_card-pic_sm{
  height: 283px;
  object-fit: cover; /*виксированная высота и сужение по бокам при скроле*/
}
.places_card-pic{
  width: 100%; 
  transition: .15s all;
}

.places__card-link{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.places_cards_size_sm{
  grid-column: span 2;
}


/*places end*/

/*tours styles start*/
.tours{
  margin-bottom: 139px;
}
.tours__tour{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap:108px;
  align-items: center;
}
.tour__info{

}
.tour__title{
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-bottom: 85px;
}
.tour__desc{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 58px;
}

.tour__more{
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow.svg) no-repeat right center;
}
.tour__more:hover, .tour__more:focus{
  opacity: .65;
}
.tour{
  margin-bottom: 77px;
}
.tour__info{
  padding-left: 47px;
}
/*tours styles end*/

/*top start*/

.top{
  margin-bottom: 86px;
}
.top__title{
  margin-bottom: 54px;
}

.top__cards{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  column-gap: 57px;
  row-gap: 57px;
}

.top__cadrd-pic{
  position: relative;
  margin-bottom: 45px;
}

.top__card{
  display: flex;
  flex-direction: column; /*измении ось отображения элементов*/
  grid-column: span 2;
}

.top__card-stats{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 15px 25px;
  justify-content: flex-end;
}
.top__card-tytle{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin:0 auto 0 0 ; ;
}
.top__card-likes{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 20px;
  background: url('../img/svg/like.svg') no-repeat right;
  margin-right: 14px;
}

.top__card-comments{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 23px;
  background: url('../img/svg/comment.svg') no-repeat right;
}
.top__card-desc{
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
}
.top__card-more{
  width: 118px;
  padding: 12px 19px ;
  background-color: #006DFE;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  margin: auto 0 0 0; /*прибили кнопку к концу блока с помощью напраления контента с верху вниз*/
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
  background: #0e66da;
}
/*top end*/


/*videos style start*/
.videos{
  width: 100%;
}
.videos__wraper{
  max-width: 1440px;
  margin: 0 auto; /*выравнить по центру*/
  position: relative; /*относительно кого функционирую*/

}

.video__item{
  padding-top: 56.25%; /*расчитывается относительно ширины блока*/
}
/*рассчитать таким образом прямоугольник с отношением сторон как в видео 16 к 9*/

.video__element{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*videos style end*/

.footer{
  background-color: #0E1D28;
  padding: 119px 0;
}

.footer__item{
  display: flex;
  flex-wrap: wrap;
}

.footer__logo{
  width: 50%;
}

.footer__nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}
.footer__menu-item{
  list-style-type: none;
}

.footer__menu-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer__menu-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
  opacity: 0.75;
}


/*media start медиа запросы запрос на ширину экрана*/

@media screen and (max-width: 960px){
  .benefits{
    margin-bottom: 75px;
  }
  .benefits__card{
    margin-bottom: 60px;
  }
  .search-form__field{
    margin-bottom: 25px;
  }
  .benefits__cards{
    padding: 0 15px;
    column-gap: 35px;
  }
  .benefits__title{
    padding: 55px 15px;
  }
  .benefits__wrap {
      box-shadow: none;
  }
  .places_cards_size_lg{
    grid-column: span 6;
  }
  .places_cards_size_sm{
    grid-column: span 6;
  }

  .tours__tour{
    column-gap: 35px;
  }
  .tour__info{
    padding-left: 0;
  }
  .tour__title{
    margin-bottom: 35px;
  }
  .tour__desc{
    margin-bottom: 15px;
  }
  .top__card{
    grid-column: span 3;
  }
  .top__cards{
    column-gap: 25px;
    row-gap: 55px;
  }
  .top__cadrd-pic{
    margin-bottom: 25px;
  }
  .footer{
    padding: 60px 0;
  }
}


@media screen and (max-width: 767px) {
  .header__burger{
    display: block;
  }
  .header__wrapper{
    padding-top: 28px;
  }
  .header__nav{
    width: 100%;
    height: 100%;
    position: fixed; /*выравнивание относительно экрана*/
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);/*сдвинем блок на его ширину впрво*/
    transition: .2s all linear;
  }
  .header__nav_active{
    transform: translateX(0);
  }
  .header__item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__item:last-child{
    margin-bottom: 0;
  }
  .header__link{
    font-size: 42px;
    line-height: 48px;
  }
  .header__nav-close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header__nav-close-line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child{
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child{
    transform: translateY(-50%) rotate(-45deg);
  }



  .search-form__field{
    margin-right: 0;
    width: 100%;
    padding-bottom: 12px;
    background: transparent url(../img/svg/Oval.svg) no-repeat left 5px;
  }
  .search-form__field::placeholder{
    font-size: 16px;
   
  }
  .intro{
    padding-top: 125px;
  }
  .intro__title{
    font-size: 32px;
    line-height: 48px;
  }
  .intro__subtitle{
    font-size: 14px;
  }
  .search-form__submit {
    width: 100%;
    font-size: 22px;
  }

  .benefits{
    margin-bottom: 36px;
  }

  .benefits__card{
    grid-column: span 3;
    margin-bottom: 40px;
  }
  .betefits__card-pic{
    margin-bottom: 20px;
  }
  .benefits__card-title{
    margin-bottom: 12px;
  }
  .benefits__card-desc{
    margin-bottom: 20px;
  }

  .places_card-pic_lg, .places_card-pic_sm {
    height: 230px;
  }
  .places__view-all{
    margin-bottom: 25px;
  }
  .places__caption{
    margin-bottom: 0;
  }
 
  .section-title::after {
    width: 78px;
  }
  .section-title{
    margin-bottom: 25px;
  }
  .places{
    margin-bottom: 76px;
  }

  .tour__title{
    margin-bottom: 15px;
  }

  .tour__pic, .tour__info{
    grid-column: span 2;
  }
  .tour__pic{
    margin-bottom: 15px;
  }
  .tour__pic_mob-first{
    grid-row-start: -1; /*перебросили карточку наверх так как она была реверсивной*/
  }
  .tours__tour{
    margin-bottom: 50px;
  }
  .tour{
    margin-bottom: 76px;
  }

  .top__card{
    grid-column: span 6;
  }
  .top__card-desc{
    margin-bottom: 15px;
  }
  .top{
    margin-bottom: 76px;
  }
  .top__card-stats{
    max-width: 386px;
  }
  .footer__logo{
    width: 100%;
    margin-bottom: 12px;
  }
  .footer__nav{
    width: 100%;
  }
  .footer__menu{
    width: 50%;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px){
  .header__nav{
    padding: 75px 30px;

  }
}
